<h2>
    REPORTE DE TRANSPORTE POR CAMION ENTRE DOS FECHAS
</h2>
<form method="GET" action="/reporte/transportePorCamion">
    <label>Fecha Inicio</label>
    <input type="date" name="fechaInicio">
    <label>Fecha Final</label>
    <input type="date" name="fechaFinal">
    <button type="submit">Ver Reporte</button>
</form>
 <table border="1">
         <!-- encabezado -->
        <tr>
          <th>Matricula</th>
          <th>Total Peso transportado</th>
          <th>Total Volumen Transportado</th>
        </tr>
        <!-- iteracion datos -->
        <% cargas.forEach(C => { %>
            <tr>
                <!-- <td><%=          %></td> -->
                <td><%=   C.Matricula    %></td>
                <td><%=    C.TotalPesoTransportado      %></td> 
                <td><%=     C.TotalVolumenTransportado     %></td>
            </tr>
        <% }); %>
      
      </table>
